<table>
  <tr>
    <th>ID</th>
    <th>Player</th>
    <th>Position</th>
    <th>Team</th>
    <th>Owner</th>
    <th>Contract</th>
  </tr>
  <% @printable_player.each do |player| %>
  <tr>
    <% player.each do |data_point| %>
    <td><%= data_point %></td>
    <% end %>
    <td></td>
    <td></td>
  <% end %>
  </tr>
</table>