<div class="container-fluid">

  <div class="row">
    <div>
      <label for="search">Search:</label>
    </div>
    <div>
      <input placeholder="Type Player Name" type="text" class="validate" id="search" name="search">
    </div>
  </div>
  <div class="row">
    <table id="player-data">
    <% @printable_player.each do |player| %>
      <tr>
        <% player.each do |data_point| %>
          <td>
            <%= data_point %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
