<div class="container-fluid">
  <% @printable_player.each do |player| %>
    <div class="row b--dark-red">
      <% player.each do |data_point| %>
        <div class="col-lg-3 bg-black white">
          <%= data_point %>
        </div>
      <% end %>
    </div>
    <% end %>
</div>
